<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1606985865-behjukfs3prsibtn43mhvnvscre331q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1606985865-behjukfs3prsibtn43mhvnvscre331q4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1606985865-939b686fkua97eqn120nii25tsagj9qe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBN9XNJTtODXC96rTerXrf_ZIYzzSn6bf8</string>
	<key>GCM_SENDER_ID</key>
	<string>1606985865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhoann.realTimeChat</string>
	<key>PROJECT_ID</key>
	<string>singin-method</string>
	<key>STORAGE_BUCKET</key>
	<string>singin-method.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1606985865:ios:35f1a9ff21e1c99e7a7e58</string>
</dict>
</plist>